Repository ajna-finance/ajna-core, pull requests merged in 2024-01, with the labels that each got.

#1052 add ERC721PoolInfoUtils tests
  tests/forge/unit/ERC721Pool/ERC721PoolInfoUtils.t.sol
  tests/forge/unit/ERC721Pool/ERC721PoolReserveAuction.t.sol
  tests/forge/utils/DSTestPlus.sol
Labels: Priority: Low, Scope: Tests

#1053 Created bucket instance to test Buckets library
  tests/forge/unit/Buckets.t.sol
  tests/forge/utils/BucketInstance.sol
Labels: Priority: Low, Status: Ready for Review, Scope: Tests

#1054 Invariants Improvement
  tests/forge/invariants/ERC20Pool/handlers/unbounded/UnboundedBasicERC20PoolHandler.sol
  tests/forge/invariants/base/handlers/unbounded/BaseHandler.sol
Labels: Status: Ready for Review, Scope: Tests

#1058 Burn using 0xdead to enable taking reserves on L2s
  .env.example
  .github/workflows/forge-test.yml
  src/base/Pool.sol
  tests/forge/interactions/PurchaseQuoteWithExternalLiquidity.t.sol
  tests/forge/unit/ERC20Pool/ERC20PoolReserveAuction.t.sol
Labels: Status: Ready for Review, Scope: Edits /src
